@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Sniglet', cursive;
}

hr {
  border: 1px solid whitesmoke;
  margin: 15px 0;
}
label {
  font-size: 16px;
  font-weight: 500;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}